//
//  Secrets.xcconfig
//  FanPulse
//
//  Created by 김송 on 1/2/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


GID_CLIENT_ID = 1020618953752-56it0f3mas6lcr3sfpnoeh7p9a1khqfa.apps.googleusercontent.com
GID_REVERSED_CLIENT_ID = com.googleusercontent.apps.1020618953752-56it0f3mas6lcr3sfpnoeh7p9a1khqfa
